* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  /* background: var(--bg-color); */
  color: var(--text-color);
  text-decoration: none;
  font-family: 'lato', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #ece8e8;
  --text-color: black;
  --second-color: #ad6767;
  --main-color: ;
  --contact-us: rgb(29, 29, 46);
  /* --big-font: 5rem;
  --h2-font: 3rem;
  contactus
  --p-font: 1.1rem; */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  /* gap: 5rem; */
  border-bottom: 1px solid transparent;
  background: transparent;
  transition: all 0.4s ease;
}
.navlist {
  display: flex;
}
section {
  padding: 160px 5% 120px;
}

.navlist li{
  color: var(--text-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
  padding: 10px 20px;
  position: sticky;
}

.navlist a:hover {
  color: var(--second-color);
}

.navlist a.active {
  color: var(--text-color);
}

/* .navlist ul li {
  padding: 10px 30px;
  position: relative;
} */

#menu-icons {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

.logo {
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: normal;
}

/* .abt-section {
   background-image: url(./firstbg\ \(1\).jpeg);
   position: relative;
} */

.abt {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  background: url(./firstbg\ \(1\).jpeg);
  align-items: center;
  justify-content: center;
   position: relative;
   width: 100%;
   height: 400px;
   overflow: none;
   text-overflow: none;
}

/* .abt img {
min-width: 100%;
height: auto;
display: inline-flex;
} */



h2 {
  letter-spacing: 3px;
  /* align-items: center;
  justify-content: center; */
  color: var(--text-color);
  font-weight: 100;
   text-transform: uppercase;
   display: flex;
   text-align: start;
   background: var(--second-color);
}

 .abt h2 {
  letter-spacing: 3px;
  /* align-items: center;
  justify-content: center; */
  color: var(--bg-color);
  font-weight: 100;
   text-transform: uppercase;
   display: flex;
   text-align: start;
   background: url(./firstbg\ \(1\).jpeg);
}


.abt p {
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
  font-style: italic;
  font-family: cursive;
   background: url(./firstbg\ \(1\).jpeg);
   color: var(--bg-color);
}

header.sticky {
background: var(--bg-color);
  border-bottom: 1px solid rgb(182, 164, 164);
  padding: 2px 1%;
}

.storyline {
  display: flex;
/* align-items: flex-end;
justify-content: flex-end; */
display: grid;
align-items: center;
justify-content: center;
}

.text h2 {
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 3;
  background: var(--bg-color);

}

.text p {
  letter-spacing: 2px;
  line-height: 2;
  margin-left: 20px;
}


.services {
  background: var(--second-bg-color);
}

.main-text {
  text-align: center;
}

.main-text p {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 15px;
}

.main-text h2 {
 background: var(--second-bg-color);
 align-items: center;
 justify-content: center;
  font-size: 30px;
  line-height: 1;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
  background: var(--second-bg-color);
}

.services-content p {
  background: black;
}

.services-content h3 {
  background: black;
  color: white;
}

.box {
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.45s ease;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
  background: var(--bg-color);
}

.box p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
  background: var(--bg-color);
}

.read {
  display: inline-block;
  padding: 8px 18px;
  background: #333333;
  color: var(--bg-color);
  font-size: 14px;
  border-radius: 8px;
  font-weight: 800;
  transition: all 0.45s ease;
}

.read:hover {
  letter-spacing: 1px;
  background: #ffffff99;
  color: var(--text-color);
}

.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.goods {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.featured{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, auto));
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.goods img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.goods p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.featured-products h2{
  background: var(--bg-color);
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__menu {
  display: none;
}

.navlist li:hover .dropdown__menu {
  display: block;
  position: absolute;
  left: 70;
  top: 100%;
  background: var(--bg-color);
  border: 1px solid black;
}

 .navlist li:hover .dropdown__menu ul {
  display: block;
 margin: 10px; 
}

 .navlist li:hover .dropdown__menu ul li {
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.testimonials-heading {
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px 0;
  padding: 10px 20px;
  flex-direction: column;
}

.testimonials-heading h1 {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 400;
  padding: 10px 20px;
}

.testimonials-heading span {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 10px;
}

.testimonials-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonials-box {
  border-image-width: 500px;
  background: var(--bg-color);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-users {
  display: flex;
  flex-direction: column;
}

.name-users strong {
  color: var(--text-color);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-users span {
  color: var(--second-color);
  font-size: 0.8rem;
}

.reviews {
  color: yellow;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
font-size: 0.9rem;
color: grey;
}

.testimonials-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.4s;
}

.info-section {
  background: var(--contact-us);
  font-size: 14px;
}

.contact-us {
  width: 100%;
  margin: 50px auto;
}

.contact-us h1 {
  background: var(--contact-us);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-color);
  text-transform: uppercase;
  padding-bottom: 10px;
}

.contact-us p {
  background: var(--contact-us);
  color: var(--bg-color);
  display: flex;
   align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 20px;
}


.contact-box {
  background: var(--bg-color);
  display: flex;
  
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}


.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: var(--second-bg-color);
  color: var(--text-color);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: var(--second-color);
}

button {
  background: var(--contact-us);
  width: 100px;
  outline: none;
  border: none;
  color: var(--bg-color);
  height: 35px;
  margin-top: 20px;
  /* try to add box shadow */
  border-radius: 30px;
}

.contact-left h3 {
  color: var(--second-color);
  font-weight: 600;
  margin-bottom: 30px;
}


.contact-right h3 {
  font-weight: 600;
  background: var(--second-bg-color);
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

table {
  background: var(--second-bg-color);
}

tr td {
  padding-top: 20px;
  background: var(--second-bg-color);
}

footer {
  padding: 70px 0;
  background: var(--second-bg-color);
}

.row {
  display: flex;
  flex-wrap: wrap;
  background: var(--second-bg-color);
}

.container {
  max-width: 1170px;
  background: var(--second-color);
  margin: auto;
}

.foot-col {
  width: 25%;
  padding: 0 15px;
  background: var(--second-bg-color);
}

.foot-col h4 {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  background: var(--second-bg-color);
}
.foot-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background: var(--second-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.foot-col ul li:not(:last-child) {
   margin-bottom: 10px;
}

.foot-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--second-bg-color);
  text-decoration: none;
  font-weight: 300;
  color: var(--text-color);
  display: block;
}

@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
  section {
    padding: 110px 3% 60px;
  }
  .end {
    padding: 15px 3%;
  }
}

@media (max-width: 1100px) {
  :root {
    /* --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem; */
    transition: 0.1s;
  }
  .home-text h3 {
    font-size: 2.5rem;
  }
  .home {
    height: 87vh;
  }
}

@media (max-width: 920px) {
  .storyline {
    grid-template-columns: 1fr;
    font-size: 15px;
  }
  .story-pic {
    text-align: center;
    order: 2;
  }

  .navlist li:hover .dropdown__menu {
    background: var(--second-color);
    color: var(--text-color);
    position: sticky;

  }
  .story-pic img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact-us {
    grid-template-columns: 1fr;
    font-size: 10px;
  }

  .contact-us h1 {
    font-size: 15px;
  }

  .contact-us p {
    font-size: 10px;
  }

  
}

@media (max-width: 840px) {
  #menu-icons {
    display: block;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    background: var(--bg-color);
    flex-direction: column;
    text-align: left;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }
  .navlist a:hover {
    color: var(--text-color);
  }
  .navlist a.active {
    color: var(--text-color);
  }
  .navlist.open {
    top: 100%;
  }
}